@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, darkcyan, white, darkblue);
}

.container {
  width: 100%;
  height: 100vh;
  padding: 25px;
  display: grid;
  place-items: center;
}

.container h1 {
  color: brown;
  font-size: 64px;
  font-weight: 900;
}